.cmp-author {

    /* This class targets a Core Component Image CSS class */

    .cmp-author__name {
        font-size: $font-size-medium;
        font-family: $font-family-serif;
        padding-top: 0.5rem;
        margin-left: 25px;
        margin-bottom: .25rem;
        margin-top:0rem;
    }
}