<div data-sly-use.gaoexporter="com.adobe.aem.guides.wknd.core.models.MultiExporter"></div>
<!-- Basic Card Example -->
 <div class="card shadow mb-4">
     <div class="card-header py-3">
         <h6 class="m-0 font-weight-bold text-primary">${card.title}</h6>
     </div>
     <div class="card-body">
         <p>Title : <b>${gaoexporter.title}</b></p>
         <p>Description :<b>${gaoexporter.description}</b></p>
         <p> Date : <b>${'MMM dd,yyyy' @ format=gaoexporter.date}</b> </p>

         ================== USING LIST ================
         <div data-sly-list.item="${gaoexporter.books}">
             <p> Book ${itemList.count} : <b>${item} </b></p>
         </div>

     </div>
 </div>